<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-screen">
    <div class="w-full h-full">
        <div class="w-full h-full flex p-3 sm:space-x-3">
            <nav id="nav" class="hidden sm:w-2/6 lg:w-1/6 xl:w-[13%] bg-[var(--honey-flower)] h-full rounded-xl sm:flex flex-col px-3 pt-5 items-center space-y-7 ease-in duration-300">
                <a class="p-2 flex justify-center" href="">
                    <img class="w-32" src="../static/assets/prati-logo.png" alt="">
                </a>
                <div class="w-full space-y-3">
                    <!-- Items 1 -->
                    <div class="w-full space-y-3">
                        <div id="nav-click-1" class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <span class="select-none">Usuários</span>
                            <div id="nav-chevron-down-1" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div id="nav-chevron-up-1">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                        <div id="nav-sub-items-1" class="w-full flex justify-center space-x-3">
                            <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a class="block" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a class="block" href="">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Items 2 -->
                    <div class="w-full space-y-3">
                        <div id="nav-click-2" class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-question"></i>
                            </div>
                            <span class="select-none">Questionários</span>
                            <div id="nav-chevron-down-2" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div id="nav-chevron-up-2">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                        <div id="nav-sub-items-2" class="w-full flex justify-center space-x-3">
                            <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a href="">
                                    <i class="fa-solid fa-object-ungroup"></i>
                                </a>
                            </div>
                            <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a href="">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Items 3 -->
                    <div class="w-full space-y-3">
                        <div id="nav-click-2" class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-file-lines"></i>
                            </div>
                            <span class="select-none">Relatórios</span>
                            <div id="nav-chevron-down-2" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="invisible" id="nav-chevron-up-2">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <section id="content" class="w-full sm:4/6 lg:w-5/6 xl:w-[90%] bg-[var(--gallery)] rounded-xl">
                <nav class="w-fit h-fit rounded-tl-xl px-5 py-2 shadow bg-[var(--honey-flower)] sm:hidden text-white">
                    <div class="hover:bg-[var(--vivid-violet)] rounded-xl px-4 py-2.5 w-fit">
                        <i class="fa-solid fa-bars text-3xl"></i>
                    </div>
                    <div class="w-8/12">

                    </div>
                </nav>
                &nbsp;
            </section>
        </div>
    </div>
    <script src="../static/js/navbar.js"></script>
</body>
</html>