<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Title</title>

    <!-- [Links Partial here] -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Basic website structure -->
    <div class="w-full h-screen">
        <div class="w-full h-full flex flex-col sm:flex-row p-3 sm:space-x-3">
            <!-- Navbar -->
            <!-- [Navbar Partial here] -->
            <!-- Mobile Nav -->
            <nav class="w-full h-fit rounded-t-xl px-5 py-2 shadow bg-[var(--honey-flower)] sm:hidden text-white flex">
                <div class="w-full h-full flex items-center">
                    <a href="">
                        <img class="h-14" src="../../static/assets/prati_minilogo.png" alt="">
                    </a>
                </div>
                <div id="mobileOpenMenu" class="hover:bg-[var(--vivid-violet)] rounded-xl px-4 py-2.5 w-fit">
                    <i class="fa-solid fa-bars text-3xl"></i>
                </div>
            </nav>
            <!-- Desktop Nav -->
            <nav id="nav"
                class="hidden sm:w-2/6 lg:w-1/6 xl:w-[13%] bg-[var(--honey-flower)] h-full rounded-xl sm:flex flex-col px-3 py-5 items-center space-y-7 ease-in duration-300">
                <a class="p-2 flex justify-center" href="">
                    <img class="w-32" src="../../static/assets/prati-logo.png" alt="">
                </a>
                <div class="flex flex-col w-full h-full space-y-3">
                    <!-- Items 1 -->
                    <div class="w-full h-fit  space-y-3">
                        <div id="openUserSubItems"
                            class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <span class="select-none">Usuários</span>
                            <div id="userChevronDown" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div id="userChevronUp">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                        <div id="userSubItems" class="w-full flex justify-center space-x-3">
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a class="block" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a class="block" href="">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Items 2 -->
                    <div class="w-full h-fit space-y-3">
                        <div id="openQuestionnairesSubItems"
                            class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-question"></i>
                            </div>
                            <span class="select-none">Questionários</span>
                            <div id="questionnairesChevronDown" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div id="questionnairesChevronUp">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                        <div id="questionnairesSubItems" class="w-full flex justify-center space-x-3">
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a href="">
                                    <i class="fa-solid fa-object-ungroup"></i>
                                </a>
                            </div>
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a href="">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Items 3 -->
                    <div class="w-full h-fit space-y-3">
                        <div id="nav-click-2"
                            class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-file-lines"></i>
                            </div>
                            <span class="select-none">Relatórios</span>
                            <div id="nav-chevron-down-2" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="invisible" id="nav-chevron-up-2">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                    </div>
                    <a href="tel:4521031166">
                        <div class="w-full h-full space-x-3 items-center flex flex-col">
                            <div class="fixed bottom-10 px-2 flex flex-col items-center text-white space-y-3 text-xl">
                                <div class=" flex justify-center" href="">
                                    <img class="w-24" src="../../static/assets/atendimento-geral.svg" alt="">
                                </div>
                                <div class="flex flex-col items-center text-xl space-y-2">
                                    <span class="w-40 text-center">Atendimento Geral</span>
                                    <span class="border border-white rounded-md py-1 px-5">45 2103-1166</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </nav>
            <!-- Mobile Menu -->
            <section id="mobileMenu"
                class="hidden h-full w-full rounded-b-xl flex flex-col px-3 pt-5 items-center space-y-7 bg-[var(--honey-flower)] sm:hidden">
                <div class="w-full space-y-3">
                    <!-- Items 1 -->
                    <div class="w-full space-y-3">
                        <div id="mobileOpenUserSubItems"
                            class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <span class="select-none">Usuários</span>
                            <div id="mobileUserChevronDown" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div id="mobileUserChevronUp">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                        <div id="mobileUserSubItems" class="w-full flex justify-center space-x-3">
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a class="block" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a class="block" href="">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Items 2 -->
                    <div class="w-full space-y-3">
                        <div id="mobileOpenQuestionnairesSubItems"
                            class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-question"></i>
                            </div>
                            <span class="select-none">Questionários</span>
                            <div id="mobileQuestionnairesChevronDown" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div id="mobileQuestionnairesChevronUp">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                        <div id="mobileQuestionnairesSubItems" class="w-full flex justify-center space-x-3">
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a href="">
                                    <i class="fa-solid fa-object-ungroup"></i>
                                </a>
                            </div>
                            <div
                                class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                                <a href="">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Items 3 -->
                    <div class="w-full space-y-3">
                        <div id="movile-nav-click-2"
                            class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                            <div>
                                <i class="fa-solid fa-file-lines"></i>
                            </div>
                            <span class="select-none">Relatórios</span>
                            <div id="mobile-nav-chevron-down-2" class="hidden">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="invisible" id="mobile-nav-chevron-up-2">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                    </div>
                    <a href="tel:4521031166">
                        <div class="w-full h-full space-x-3 items-center flex flex-col">
                            <div class="fixed bottom-10 px-2 flex flex-col items-center text-white space-y-3 text-xl">
                                <div class=" flex justify-center" href="">
                                    <img class="w-24" src="../../static/assets/atendimento-geral.svg" alt="">
                                </div>
                                <div class="flex flex-col items-center text-xl space-y-2">
                                    <span class="w-40 text-center">Atendimento Geral</span>
                                    <span class="border border-white rounded-md py-1 px-5">45 2103-1166</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </section>

            <!-- Content -->
            <section id="bodyContent"
                class="w-full sm:4/6 lg:w-5/6 xl:w-[90%] bg-[var(--gallery)] rounded-b-xl sm:rounded-xl overflow-auto pt-3 px-5">
                <div class="flex flex-col items-center">
                    <div class="top-bar bg-white h-65 rounded-xl w-full mb-5">
                        <div class="title">
                            <div class="text-center">
                                <h1 class="text-2xl font-bold py-3 text-[var(--vivid-violet)]">
                                    Novo Modelo de Questionário
                                </h1>
                            </div>
                        </div>
                    </div>

                    <div id="questions" class="w-full flex flex-col space-y-3 md:w-2/3 ">
                        <div
                            class="w-full flex flex-col p-5 rounded-xl bg-white text-2xl text-[var(--vivid-violet)] border-t-8 border-[var(--vivid-violet)] space-y-1">

                            <div class="w-full flex items-center">
                                <div class="w-full text-center">
                                    <h1 id="mQuest[01]" class="font-bold cursor-pointer" tabindex="0">Nome do Relatório</h1>
                                    <input id="mTitle[01]" class="w-full font-bold text-center hidden border border-[var(--flushed-violet)] rounded" type="text" autocomplete="off">
                                </div>
                            </div>
                            <div class="w-full flex items-center italic text-lg text-[var(--flash-grey)]">
                                <div class="w-full text-center">
                                    <h1 id="mQuest[02]" class="cursor-pointer" tabindex="0">Descrição do modelo do questionário</h1>
                                    <input id="mTitle[02]" class="w-full text-center italic hidden border border-[var(--flushed-violet)] rounded" type="text" autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div id="question[01]" class="w-full flex flex-col p-5 rounded-xl bg-white text-center text-xl">
                            <span class="w-full flex items-center text-xl text-[var(--vivid-violet)] mb-5">
                                <div class="w-full text-center">
                                    <h1 id="quest[01]" class="font-bold cursor-pointer" tabindex="0">Questão 01</h1>
                                    <input id="title[01]"
                                        class="w-full text-center font-bold hidden border border-[var(--flushed-violet)] rounded"
                                        type="text" autocomplete="off">
                                </div>
                                <div id="questDelete[01]" class="w-fit flex items-center text-center text-4xl font-bold text-red-900 px-5 cursor-pointer">
                                    <i class="fa-solid fa-square-minus"></i>
                                </div>
                            </span>
                            <div id="questBody01"
                                class="w-full flex justify-between items-center text-center h-20 px-10" tabindex="0">
                                <span class="text-4xl text-[var(--flushed-violet)]">
                                    <i class="fa-solid fa-chevron-left opacity-50"></i>
                                </span>
                                <div class="hidden w-full">
                                    De 0 a 10
                                </div>
                                <div class="hidden w-full">
                                    Alternativas
                                </div>
                                <div class="hidden w-full">
                                    Múltipla Escolha
                                </div>
                                <div class="hidden w-full">
                                    Aberta
                                </div>
                                <span class="text-4xl text-[var(--flushed-violet)]">
                                    <i class="fa-solid fa-chevron-right  opacity-50"></i>
                                </span>
                            </div>
                        </div>

                        <div id="question[02]" class="w-full flex flex-col p-5 rounded-xl bg-white text-center text-xl">
                            <span class="w-full flex items-center text-xl text-[var(--vivid-violet)] mb-5">
                                <div class="w-full text-center">
                                    <h1 id="quest[02]" class="font-bold cursor-pointer" tabindex="0">Questão 02</h1>
                                    <input id="title[02]"
                                        class="w-full font-bold text-center hidden border border-[var(--flushed-violet)] rounded"
                                        type="text" autocomplete="off">
                                </div>
                                <div id="questDelete[02]" class="w-fit flex items-center text-center text-4xl font-bold text-red-900 px-5 cursor-pointer">
                                    <i class="fa-solid fa-square-minus"></i>
                                </div>
                            </span>
                            <div id="questBody02"
                                class="w-full flex justify-between items-center text-center h-20 px-10" tabindex="0">
                                <span class="text-4xl text-[var(--flushed-violet)]">
                                    <i class="fa-solid fa-chevron-left opacity-50"></i>
                                </span>
                                <div class="hidden w-full">
                                    De 0 a 10
                                </div>
                                <div class="hidden w-full">
                                    Alternativas
                                </div>
                                <div class="hidden w-full">
                                    Múltipla Escolha
                                </div>
                                <div class="hidden w-full">
                                    Aberta
                                </div>
                                <span class="text-4xl text-[var(--flushed-violet)]">
                                    <i class="fa-solid fa-chevron-right opacity-50"></i>
                                </span>
                            </div>
                        </div>
                    
                    </div>
                    <div class="w-full flex flex-col space-y-3 md:w-2/3">
                        <div id="addQuestion" class="flex justify-end w-full space-x-5 py-5">
                            <button
                                class="bg-[var(--vivid-violet)] w-40 py-2 rounded-md text-gray-50 hover:bg-[var(--honey-flower)]">
                                <i class="fa-solid fa-square-plus"></i>
                            </button>
                        </div>
                        <div class="flex justify-end w-full space-x-5">
                            <button
                                class="bg-[var(--vivid-violet)] w-40 py-2 rounded-md text-gray-50 hover:bg-[var(--honey-flower)]">
                                Cancelar
                            </button>
                            <button
                                class="bg-[var(--vivid-violet)] w-40 py-2 rounded-md text-gray-50 hover:bg-[var(--honey-flower)]">
                                Gravar
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- [Scripts Partial here] -->
    <script src="../../static/js/navbar.js"></script>
    <script>
        // Get all checkbox input elements
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');

        // Add click event listeners to each checkbox
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('click', function () {
                // If checkbox is checked
                if (this.checked) {
                    // Get all checkboxes with the same name
                    const checkboxGroup = document.querySelectorAll(`input[type="checkbox"][name="${this.name}"]`);
                    // Uncheck all checkboxes in the group except for the one clicked
                    checkboxGroup.forEach(function (checkbox) {
                        checkbox.checked = false;
                    });
                    this.checked = true; // Check the clicked checkbox
                } else {
                    this.checked = false; // Uncheck the clicked checkbox
                }
            });
        });

        // Get references to all h1 tags with ids that start with "quest"
        const questH1s = document.querySelectorAll('h1[id^="quest"]');

        // Add a click event listener to each h1 tag
        questH1s.forEach(h1 => {
            h1.addEventListener('focus', () => {
                // Extract the number from the h1 tag id
                const number = h1.id.slice(6, 8); // Assumes the id is "quest[01]"

                // Find the input tag with id "title[01]"
                const input = document.querySelector(`#title\\[${number}\\]`);

                h1.classList.add("hidden");
                input.classList.remove("hidden");
                input.focus();

                // Add a blur event listener to the input
                input.addEventListener('blur', () => {
                    // Show the alert "hello" when the input loses focus
                    const inputValue = input.value;

                    if (!(input.value.trim() === "")) {
                        h1.innerHTML = inputValue;
                        h1.classList.remove("hidden");
                        input.classList.add("hidden");
                    }


                });
            });
        });


        const mainQuestAbout = document.querySelectorAll('h1[id^="mQuest"]');
        // Add a click event listener to each h1 tag
        mainQuestAbout.forEach(h1 => {
            h1.addEventListener('focus', () => {
                // Extract the number from the h1 tag id
                const number = h1.id.slice(7, 9); // Assumes the id is "mquest[01]"

                // Find the input tag with id "mtitle[01]"
                const input = document.querySelector(`#mTitle\\[${number}\\]`);

                h1.classList.add("hidden");
                input.classList.remove("hidden");
                input.focus();

                // Add a blur event listener to the input
                input.addEventListener('blur', () => {
                    // Show the alert "hello" when the input loses focus
                    const inputValue = input.value;

                    if (!(input.value.trim() === "")) {
                        h1.innerHTML = inputValue;
                        h1.classList.remove("hidden");
                        input.classList.add("hidden");
                    }


                });
            });
        });
        





        
        const questBodys = document.querySelectorAll('div[id^="questBody"]');

        questBodys.forEach(questBody => {

            const numberBody = questBody.id.slice(9, 11); // Assumes the id is "questBody01"

            // Find the input tag with id "title[01]"
            const bodyDiv = `questBody${numberBody}`;

            const divs = document.querySelectorAll(`#${bodyDiv} > div`);
            let index = 0;
            divs[index].classList.remove("hidden");

            const myDiv = document.getElementById(`${bodyDiv}`);
            myDiv.addEventListener("click", function () {
                myDiv.focus();
            });

            let touchStartX = null;
            myDiv.addEventListener("touchstart", function (e) {
                if (myDiv !== document.activeElement) {

                    return;
                }
                touchStartX = e.touches[0].clientX;
            });

            myDiv.addEventListener("touchmove", function (e) {
                if (myDiv !== document.activeElement || touchStartX === null) {
                    return;
                }

                const touchEndX = e.touches[0].clientX;
                const delta = touchEndX - touchStartX;

                if (delta > 0) { // Swipe right
                    divs[index].classList.add("hidden");
                    index--;
                    if (index < 0) {
                        index = divs.length - 1;
                    }
                    divs[index].classList.remove("hidden");
                } else if (delta < 0) { // Swipe left
                    divs[index].classList.add("hidden");
                    index++;
                    if (index >= divs.length) {
                        index = 0;
                    }
                    divs[index].classList.remove("hidden");
                }

                touchStartX = null;
            });

            document.addEventListener("keydown", function (e) {
                if (myDiv !== document.activeElement) {
                    return;
                }

                if (e.keyCode === 37) { // Left arrow
                    divs[index].classList.add("hidden");
                    index--;
                    if (index < 0) {
                        index = divs.length - 1;
                    }
                    divs[index].classList.remove("hidden");
                } else if (e.keyCode === 39) { // Right arrow
                    divs[index].classList.add("hidden");
                    index++;
                    if (index >= divs.length) {
                        index = 0;
                    }
                    divs[index].classList.remove("hidden");
                }
            });

        });



        let deleteQuestions = document.querySelectorAll('div[id^="questDelete"]');
        // Add a click event listener to each h1 tag
        deleteQuestions.forEach(deleteQuestion => {
            deleteQuestion.addEventListener('click', () => {
                // Extract the number from the deleteQuestion tag id
                const number = deleteQuestion.id.slice(12, 14); // Assumes the id is "questDelete[01]"

                // Find the input tag with id "mtitle[01]"
                const question = document.querySelector(`#question\\[${number}\\]`);

                if (confirm(`Tem certeza que deseja deletar a questão ${number}?`)) {
                    question.remove();
                } else {
                    
                }
            });
        });

        const addQuestion = document.getElementById('addQuestion');
        addQuestion.addEventListener('click', () => {
            let questionsNumbers = document.querySelectorAll('h1[id^="quest"]');
            let lastQuestion = questionsNumbers[questionsNumbers.length - 1];
            let lastQuestionNumber = lastQuestion.id.slice(6, 8);
            let newQuestionNumber = "0" + (parseInt(lastQuestionNumber) + 1);

            const questions = document.getElementById('questions');

            questions.innerHTML += `
                <div id="question[${newQuestionNumber}]" class="w-full flex flex-col p-5 rounded-xl bg-white text-center text-xl">
                    <span class="w-full flex items-center text-xl text-[var(--vivid-violet)] mb-5">
                        <div class="w-full text-center">
                            <h1 id="quest[${newQuestionNumber}]" class="font-bold cursor-pointer" tabindex="0">Questão ${newQuestionNumber}</h1>
                            <input id="title[${newQuestionNumber}]"
                                class="w-full font-bold text-center hidden border border-[var(--flushed-violet)] rounded"
                                type="text" autocomplete="off">
                        </div>
                        <div id="questDelete[${newQuestionNumber}]" class="w-fit flex items-center text-center text-4xl font-bold text-red-900 px-5 cursor-pointer">
                            <i class="fa-solid fa-square-minus"></i>
                        </div>
                    </span>
                    <div id="questBody${newQuestionNumber}"
                        class="w-full flex justify-between items-center text-center h-20 px-10" tabindex="0">
                        <span class="text-4xl text-[var(--flushed-violet)]">
                            <i class="fa-solid fa-chevron-left opacity-50"></i>
                        </span>
                        <div class="hidden w-full">
                            De 0 a 10
                        </div>
                        <div class="hidden w-full">
                            Alternativas
                        </div>
                        <div class="hidden w-full">
                            Múltipla Escolha
                        </div>
                        <div class="hidden w-full">
                            Aberta
                        </div>
                        <span class="text-4xl text-[var(--flushed-violet)]">
                            <i class="fa-solid fa-chevron-right opacity-50"></i>
                        </span>
                    </div>
                </div>
            
            `;
        });

    </script>
</body>

</html>