<!-- Mobile Nav -->
<nav class="w-full h-fit rounded-t-xl px-5 py-2 shadow bg-[var(--honey-flower)] sm:hidden text-white flex">
    <div class="w-full h-full flex items-center">
        <a href="">
            <img class="h-14" src="{% static '/assets/prati_minilogo.png' %}" alt="">
        </a>
    </div>
    <div id="mobileOpenMenu" class="hover:bg-[var(--vivid-violet)] rounded-xl px-4 py-2.5 w-fit">
        <i class="fa-solid fa-bars text-3xl"></i>
    </div>
</nav>
<!-- Desktop Nav -->
<nav id="nav"
    class="hidden sm:w-2/6 lg:w-1/6 xl:w-[13%] bg-[var(--honey-flower)] h-full sm:flex flex-col px-3 py-5 items-center space-y-7 ease-in duration-300">
    <a class="p-2 flex justify-center" href="">
        <img class="w-32" src="{% static '/assets/prati-logo.png' %}" alt="">
    </a>
    <div class="flex flex-col w-full h-full space-y-3">
        <!-- Items 1 -->
        <div class="w-full h-fit">
            <div class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                <a class="w-full flex" href="">
                    <div class="w-1/6">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span class="select-none w-4/6">Home</span>
                </a>
            </div>
        </div>
        <!-- Items 2 -->
        <div class="w-full h-fit overflow-hidden relative">
            <div id="openUserSubItems" class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                <div>
                    <i class="fa-solid fa-user"></i>
                </div>
                <span class="select-none">Usuários</span>
                <div id="userChevronDown" class="hidden">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div id="userChevronUp">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </div>
            <div id="userSubItems" class="w-full flex flex-col justify-end duration-500 transition-y-0">
                <div class="w-11/12 mx-2 bg-[var(--vivid-violet)] text-center text-white py-2 px-3 cursor-pointer">
                    <a class="flex" href="">
                        <div class="w-1/6">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <span class="select-none w-4/6">Criar</span>
                    </a>
                </div>
                <div class="w-11/12 mx-2 bg-[var(--vivid-violet)] text-center text-white py-2 px-3 cursor-pointer rounded-b-md">
                    <a class="flex" href="">
                        <div class="w-1/6">
                            <i class="fa-solid fa-list"></i>
                        </div>
                        <span class="select-none w-4/6">Listar</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Items 3 -->
        <div class=" w-full h-fit">
            <div id="openQuestionnairesSubItems"
                class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                <div>
                    <i class="fa-solid fa-question"></i>
                </div>
                <span class="select-none">Questionários</span>
                <div id="questionnairesChevronDown" class="hidden">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div id="questionnairesChevronUp">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </div>
            <div id="questionnairesSubItems" class="w-full flex flex-col justify-center">
                <div class="w-11/12 mx-2 bg-[var(--vivid-violet)] text-center text-white py-2 px-3 cursor-pointer">
                    <a class="flex" href="">
                        <div class="w-1/6">
                            <i class="fa-solid fa-object-ungroup"></i>
                        </div>
                        <span class="select-none w-4/6">Criar</span>
                    </a>
                </div>
                <div class="w-11/12 mx-2 bg-[var(--vivid-violet)] text-center text-white py-2 px-3 cursor-pointer rounded-b-md">
                    <a class="flex" href="">
                        <div class="w-1/6">
                            <i class="fa-solid fa-list"></i>
                        </div>
                        <span class="select-none w-4/6">Listar</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Items 4 -->
        <div class="w-full h-fit">
            <div class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                <a class="w-full flex" href="">
                    <div class="w-1/6">
                        <i class="fa-solid fa-file-lines"></i>
                    </div>
                    <span class="select-none w-4/6">Relatórios</span>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full h-full items-center flex flex-col justify-end">
        <div class="bottom-10 px-2 flex flex-col items-center text-white space-y-3 text-xl">
            <div class=" flex justify-center" href="">
                <img class="w-24" src="{% static '/assets/atendimento-geral.svg' %}" alt="">
            </div>
            <div class="flex flex-col items-center text-xl space-y-2">
                <span class="w-40 text-center">Atendimento Geral</span>
                <span class="border border-white rounded-md py-1 px-5">45 2103-1166</span>
            </div>
        </div>
    </div>
</nav>
<!-- Mobile Menu -->
<section id="mobileMenu"
    class="hidden h-full w-full rounded-b-xl flex flex-col px-3 pt-5 items-center space-y-7 bg-[var(--honey-flower)] sm:hidden">
    <div class="w-full space-y-3">
        <!-- Items 1 -->
        <div class="w-full space-y-3">
            <div id="mobileOpenUserSubItems"
                class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                <div>
                    <i class="fa-solid fa-user"></i>
                </div>
                <span class="select-none">Usuários</span>
                <div id="mobileUserChevronDown" class="hidden">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div id="mobileUserChevronUp">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </div>
            <div id="mobileUserSubItems" class="w-full flex justify-center space-x-3">
                <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                    <a class="block" href="">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                    <a class="block" href="">
                        <i class="fa-solid fa-list"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Items 2 -->
        <div class="w-full space-y-3">
            <div id="mobileOpenQuestionnairesSubItems"
                class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                <div>
                    <i class="fa-solid fa-question"></i>
                </div>
                <span class="select-none">Questionários</span>
                <div id="mobileQuestionnairesChevronDown" class="hidden">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div id="mobileQuestionnairesChevronUp">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </div>
            <div id="mobileQuestionnairesSubItems" class="w-full flex justify-center space-x-3">
                <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                    <a href="">
                        <i class="fa-solid fa-object-ungroup"></i>
                    </a>
                </div>
                <div class="w-1/2 bg-[var(--vivid-violet)] text-center text-white py-2 px-5 rounded-md cursor-pointer">
                    <a href="">
                        <i class="fa-solid fa-list"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Items 3 -->
        <div class="w-full space-y-3">
            <div class="w-full bg-[var(--flushed-violet)] text-center text-white py-2 px-3 rounded-md cursor-pointer flex justify-between">
                <div>
                    <i class="fa-solid fa-file-lines"></i>
                </div>
                <span class="select-none">Relatórios</span>
                <div id="mobile-nav-chevron-down-2" class="hidden">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="invisible" id="mobile-nav-chevron-up-2">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </div>
        </div>
        <a href="tel:4521031166">
            <div class="w-full h-full space-x-3 items-center flex flex-col">
                <div class="fixed bottom-10 px-2 flex flex-col items-center text-white space-y-3 text-xl">
                    <div class=" flex justify-center" href="">
                        <img class="w-24" src="{% static '/assets/atendimento-geral.svg' %}" alt="">
                    </div>
                    <div class="flex flex-col items-center text-xl space-y-2">
                        <span class="w-40 text-center">Atendimento Geral</span>
                        <span class="border border-white rounded-md py-1 px-5">45 2103-1166</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
