<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Title</title>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Basic website structure -->
    <div class="w-full h-screen">
        <div class="w-full h-full flex flex-col sm:flex-row p-3 sm:space-x-3">
            <!-- Navbar -->
            <!-- Mobile Nav -->
            <nav class="w-full h-fit rounded-t-xl px-5 py-2 shadow bg-[var(--honey-flower)] sm:hidden text-white flex">
                <div class="w-full h-full flex items-center">
                    <a href="">
                        <img class="h-14" src="../../static/assets/prati_minilogo.png" alt="">
                    </a>
                </div>
            </nav>
            <!-- Desktop Nav -->
            <nav id="nav"
                class="hidden sm:w-2/6 lg:w-1/6 xl:w-[13%] bg-[var(--honey-flower)] h-full rounded-xl sm:flex flex-col px-3 py-5 items-center space-y-7 ease-in duration-300">
                <a class="p-2 flex justify-center" href="">
                    <img class="w-32" src="../../static/assets/prati-logo.png" alt="">
                </a>
            </nav>


            <!-- Content -->
            <section id="bodyContent" class="w-full sm:4/6 lg:w-5/6 xl:w-[90%] bg-[var(--gallery)] rounded-b-xl sm:rounded-xl overflow-auto pt-3 px-5">
                <div class="flex justify-center">
                   


                    <div class="py-5 w-full md:w-5/6">
                        <div class="w-full flex justify-between px-5 mb-3 text-[var(--honey-flower)] font-bold text-xl">
                            <div class="border-b-4 border-[var(--honey-flower)] px-3 rounded-md">
                                Questão 1
                            </div>
                            <div class="border-b-4 border-[var(--honey-flower)] px-3 rounded-md">
                                Avaliado
                            </div>
                        </div>
                        <div class="mx-auto overflow-x-auto rounded-xl border border border-[var(--vivid-violet)] late-50">



                            <div class="w-full text-sm bg-white min-w-fit">
                                <div class="bg-[var(--honey-flower)] px-4 py-10 font-medium text-white text-2xl text-center w-full">
                                    Seu supervisor lhe passa feedback`s constantes?

                                </div>
                                <div class="w-full flex flex-col items-center md:flex-row md:justify-center py-5 md:space-x-5 px-5 space-y-5 md:space-y-0">

                                    <div class="flex flex-col items-center w-full md:w-1/5 space-y-3">
                                        <div class="flex justify-between space-x-5">
                                            <div class="box h-20 w-20 border-4 rounded-xl bg-[var(--red1)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                1
                                            </div>
                                            <div class="box h-20 w-20 p-4 border-4 rounded-xl  bg-[var(--red2)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                2
                                            </div>
                                        </div>
                                        <div class="text-center text-base">
                                            Discordo Totalmente
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center w-full md:w-1/5 space-y-3">
                                        <div class="flex justify-between space-x-5">
                                            <div class="box h-20 w-20 p-4 border-4 rounded-xl  bg-[var(--orange1)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                3
                                            </div>
                                            <div class="box-border h-20 w-20 p-4 border-4 rounded-xl  bg-[var(--orange2)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                4
                                            </div>
                                        </div>
                                        <div class="text-center text-base">
                                            Discordo
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center w-full md:w-1/5 space-y-3">
                                        <div class="flex justify-between space-x-5">
                                            <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--orange3)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                5
                                            </div>
                                            <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--yellow)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                6
                                            </div>
                                        </div>
                                        <div class="text-center text-base">
                                            Não sei
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center w-full md:w-1/5 space-y-3">
                                        <div class="flex justify-between space-x-5">
                                            <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green1)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                7
                                            </div>
                                            <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green2)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                8
                                            </div>
                                        </div>
                                        <div class="text-center text-base">
                                            Concordo
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center w-full md:w-1/5 space-y-3">
                                        <div class="flex justify-between space-x-5">
                                            <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green3)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                9
                                            </div>
                                            <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green4)] flex justify-center items-center font-bold text-white text-2xl">
                                                <!--  -->
                                                10
                                            </div>
                                        </div>
                                        <div class="text-center text-base">
                                            Conrcordo Totalmente
                                        </div>
                                    </div>
                        

                                </div>

                            </div>
                        </div>
                        <div class="flex justify-end py-5">
                            <button
                                class="bg-[var(--honey-flower)] w-40 py-2  rounded-md text-gray-50 hover:bg-[var(--honey-flower)]">
                                Próximo
                            </button>
                        </div>
                        
                            <div class="flex">
                              <input type="checkbox" id="choose-me" class="peer hidden" />
                              <label for="choose-me" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
                               py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out peer-checked:bg-white peer-checked:text-gray-900 peer-checked:border-gray-200 "> Check me </label>
                            </div>
                           
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="../../static/js/navbar.js"></script>
</body>
</html>
