:root {
    --gallery: #F0F0F0;
    --honey-flower: #5C2472;
    --vivid-violet: #853A9E;
    --flushed-violet: #9D3DC2;
    --flash-grey: #8B8B8B;
    --iron: #D8D8D9;
    --red1: #FF0000;
    --red2: #F24D03;
    --orange1: #F06802;
    --orange2: #FF7A00;
    --orange3: #F18F01;
    --yellow: #F9D000;
    --green1: #8FE76E;
    --green2: #77DC4E;
    --green3: #53DC00;
    --green4: #46AD01;
    --light-violet: #A03CC4;
}
