<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-100">
    <div class ="Conteiner">
        <div class ="form">
            <form action = '#'>
                <div class = "form-header">
                    <div class="title">
                        <div class="text-center">
                            <h1 class="text-2xl font-bold py-3 text-[#853A9E]">
                                Editar Usuário
                            </h1>
                        </div>
                    </div>
    
                </div>  
                <div class="flex justify-center">
                    <div class="flex flex-col input w-full p-5 xl:p-0 xl:w-1/2 space-y-5">
                        <div class = "imput-box">
                            <label class ="text-[#853A9E] font-bold"
                            for="cracha">Crachá</label>
                            <input id ="cracha" type="text" placeholder=" Digite seu número de crachá" required class="w-full h-8 border border-purple-800 rounded-md">
                        </div>

                        <div class = "imput-box">
                            <div class ="w-fit text-[#853A9E] font-bold"
                            for="nomecompleto">
                                <span>Nome Completo</span>
                            </div>
                            <input id ="nomecompleto" type="text" placeholder=" Digite seu nome completo" required class="w-full h-8 border border-purple-800 rounded-md">
                        </div>

                        <div class = "imput-box">
                            <label class ="w-fit text-[#853A9E] font-bold"
                            for="datanascimento">Data de Nascimento</label>
                            <input id ="datanascimento" type="text" placeholder=" Digite sua data de nascimento" required class="w-full h-8 border border-purple-800 rounded-md">
                        </div>

                        <div class = "imput-box">
                            <label class ="w-fit text-[#853A9E] font-bold"
                            for="e-mail">E-mail</label>
                            <input id ="e-mail" type="text" placeholder=" Digite seu E-mail" required class="w-full h-8 border border-purple-800 rounded-md">
                        </div>

                        <div class = "imput-box">
                            <label class ="w-fit text-[#853A9E] font-bold"
                            for="telefone">Telefone</label>
                            <input id ="telefone" type="text" placeholder=" (xx)xxxx-xxxx" required class="w-full h-8 border border-purple-800 rounded-md">
                        </div>

                        <div class = "imput-box">
                            <label class ="w-fit text-[#853A9E] font-bold"
                            for="senha">Senha Atual</label>
                            <input id ="senha" type="text" placeholder=" Digite sua senha" required class="w-full h-8 border border-purple-800 rounded-md" >
                        </div>

                        <div class = "imput-box">
                            <label class ="w-fit text-[#853A9E] font-bold"
                            for="senha">Nova Senha</label>
                            <input id ="senha" type="text" placeholder=" Digite sua nova senha" required class="w-full h-8 border border-purple-800 rounded-md" >
                        </div>

                        <div class = "imput-box">
                            <label class ="w-fit text-[#853A9E] font-bold"
                            for="senha">Confirmação de Senha</label>
                            <input id ="senha" type="text" placeholder=" Confirme sua nova senha" required class="w-full h-8 border border-purple-800 rounded-md" >
                        </div>

                    </div>
                </div>
                <div class="flex justify-center py-10">
                    <div class = "Cancelar-button">
                        <button class="bg-[#853A9E] w-40 py-2 rounded-md text-gray-50 ml-80 hover:bg-[#5C2472]">
                            Cancelar
                        </button>
                    </div>
                    
                    <div class = "Gravar-button">
                        <button class="bg-[#853A9E] w-40 py-2 rounded-md text-gray-50 ml-10 hover:bg-[#5C2472]">
                            Gravar
                            
                        </button>
                        
                    </div>
                    
                </div>

                
            </form>
        </div>
        




    </div>
</body>
</body>
</html>