{% extends "base.html" %}

{% block layout %}
    <div class="w-full h-screen">
      <div class="w-full h-full flex flex-col sm:flex-row px-4 py-2 bg-[var(--honey-flower)]">
        {% include '/components/navbar.html' %}

        <section id="bodyContent" class="w-full sm:4/6 lg:w-5/6 xl:w-[90%] bg-[var(--gallery)] rounded-b-xl sm:rounded-xl overflow-auto pt-3 px-5">
          {% block content %}
          {% endblock content %}
        </section>
      </div>
    </div>
{% endblock layout %}

{% block js %}
{{ super() }}
<script src="{% static '/js/navbar.js' %}"></script>
{% endblock js %}
