<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <title>Login</title>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',

                        honeyFlower: '#5C2472',

                        vividViolet: '#853A9E',

                        whiteViolet: '#C167F9',

                    }
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>

</head>

<body class="bg-honeyFlower">



    <div class="my-60"> <!-- coloquei "my-60 para ficar no meio mesmo sem a logo da prati" -->


        <form action="/#" class="my-1">
            <div class="w-96  p-1 mx-auto rounded-x1 space-y-1">
                <input id="acesso" name="acesso" type="acesso"
                    class="w-full placeholder-white text-white bg-whiteViolet px-3 py-1 border border-purple-600 rounded-lg px-3 focus:outline-none focus:border-white hover:shadow"
                    placeholder="Chave de acesso">
            </div>

        </form>

        <form action="/#" class=" w-96 justify-between flex  py-3 m-auto rounded-x1my-1">
            <button type="button"
                class=" w-40 bg-vividViolet justify-center px-3 py-1  font-medium text-white  rounded-lg  hover:shadow inline-flex space-x-2 items-center justify-start">
                <span>Entrar</span>
            </button>
            <button type="button"
                class=" bg-vividViolet justify-center px-3 py-1  font-medium text-white  rounded-lg  hover:shadow inline-flex space-x-2 items-center justify-end">
                <span>Entrar como Admin</span>
            </button>
        </form>



    </div>







</body>

</html>