<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body class="bg-gray-100">
  <div class="Conteiner">
    <div class="top-bar bg-slate-50 h-65">
      <div class="title">
        <div Class="text-center">
          <h1 class="text-2xl font-bold py-3 text-[#853A9E]">
            Modelos de Questionários
          </h1>
        </div>
      </div>
    </div>

    <div class="pesquisa-box">
      <div class="flex justify-center py-8 ">
        <input type="text" class="search-txt w-1/2 border border-[#853A9E] rounded-md px-3" placeholder="Pesquisar" required
          class="w-full h-8 border border-purple-800 rounded-md">
        <a href="#" class="">
          <img src="css/purple-magnifier-line-icon-svg-by-Vexels.png" alt="imagem-lupa" height="30" width="30">
        </a>

      </div>
    </div>

    <div class="mx-auto overflow-x-auto rounded-lg border border border-[#853A9E] w-2/3 bg-s  late-50">
      <table class="min-w-full divide-y-2 divide-purple-800 text-sm">
        <thead>
          <tr>
            <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900 text-center">
              Código

            </th>

            <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900 text-center">
              Nome
            </th>
            <th class="w-1/2 whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900 text-center ">
              Descrição
            </th>

          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">
              1
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8 text-center">Avaliação de supervisores</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8 text-center">Relatório para avaliar supervisores
            </td>

          </tr>

          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>

          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>

          
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>

          
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>


          
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>

          
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>

          
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>

          
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>


          
          <tr class="hover:bg-gray-200 hover:text-gray-900">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 h-8">

            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8"></td>

          </tr>

          
          
        </tbody>
      </table>
    </div>

    <div class="flex justify-center  py-10 ">
      <div class="Excluir-button">
        <button class="bg-[#853A9E] w-40 py-2 rounded-md text-gray-50  hover:bg-[#5C2472]">
          Excluir Modelo
        </button>
      </div>

      <div class="Editar-button">
        <button class="bg-[#853A9E] w-40 py-2 rounded-md text-gray-50 ml-5 hover:bg-[#5C2472]">
          Editar Modelo

        </button>
      </div>

      <div class="Criar-button">
        <button class="bg-[#853A9E] w-40 py-2 rounded-md text-gray-50 ml-5 hover:bg-[#5C2472]">
          Criar Modelo

        </button>
      </div>

      <div class="Enviar-button">
        <button class="bg-[#853A9E] w-40 py-2 rounded-md text-gray-50 ml-5 hover:bg-[#5C2472]">
          Enviar

        </button>
      </div>
      

    </div>

  </div>


</body>

</html>