<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questão 1</title>

    <!-- [Links Partial here] -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Basic website structure -->
    <div class="w-full h-screen">
        <div class="w-full h-full flex flex-col sm:flex-row p-3 sm:space-x-3">
            <!-- Navbar -->
            <!-- [Navbar Partial here] -->
            <nav id="nav"
                class="hidden sm:w-2/6 lg:w-1/6 xl:w-[13%] bg-[var(--honey-flower)] h-full rounded-xl sm:flex flex-col px-3 py-5 items-center space-y-7 ease-in duration-300">
                <a class="p-2 flex justify-center" href="">
                    <img class="w-32" src="../static/assets/prati-logo.png" alt="">
                </a>
            </nav>


            <!-- Content -->
            <section id="bodyContent" class="w-full sm:4/6 lg:w-5/6 xl:w-[90%] bg-[var(--gallery)] rounded-b-xl sm:rounded-xl overflow-auto pt-3 px-5 h-full">
                <div class="flex flex-col items-center">
                    <div class="top-bar bg-white h-65 rounded-xl w-full">
                        <div class="title">
                            <div class="text-center">
                                <h1 class="text-2xl font-bold py-3 text-[var(--vivid-violet)]">
                                    Avaliação de Superiores
                                </h1>
                            </div>
                        </div>
                    </div>

                    <div class="py-5 w-full flex  md:w-2/3">
                        <div class="lex justify-start box h-3 w-60 border-4 rounded-xl bg-[--honey-flower]">

                        </div>

                        <div class="lex justify-end box h-3 w-60 border-4  rounded-xl bg-[--honey-flower]">

                        </div>
                    </div>


                    <div class="py-5 w-full md:w-2/3">
                        <div
                            class="mx-auto overflow-x-auto rounded-xl border border border-[var(--vivid-violet)] late-50">



                            <table class="min-w-full  text-sm bg-white">
                                <div class="bg-[var(--honey-flower)] px-4 py-16 font-medium text-white text-center">
                                    Seu supervisor lhe passa feedback`s constantes?

                                </div>
                                <div class="flex justify-center py-5 space-x-5">

                                    <div class="box h-20 w-20 border-4 rounded-xl bg-[var(--red1)]">
                                        <!--  -->
                                    </div>
                                    <div class="box h-20 w-20 p-4 border-4 rounded-xl  bg-[var(--red2)]">
                                        <!--  -->
                                    </div>
                                    <div class="box h-20 w-20 p-4 border-4 rounded-xl  bg-[var(--orange1)]">
                                        <!--  -->
                                    </div>
                                    <div class="box-border h-20 w-20 p-4 border-4 rounded-xl  bg-[var(--orange2)]">
                                        <!--  -->
                                    </div>
                                    <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--orange3)]">
                                        <!--  -->
                                    </div>
                                    <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--yellow)]">
                                        <!--  -->
                                    </div>
                                    <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green1)]">
                                        <!--  -->
                                    </div>
                                    <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green2)]">
                                        <!--  -->
                                    </div>
                                    <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green3)]">
                                        <!--  -->
                                    </div>
                                    <div class="box-border h-20 w-20 p-4 border-4 rounded-xl bg-[var(--green4)]">
                                        <!--  -->
                                    </div>

                                </div>

                                <div class="flex justify-center space-x-24  py-2">
                                    <div class=" text-center text-xl ">Discordo Totalmente</div>
                                    <div class=" text-center text-xl ">Discordo</div>
                                    <div class=" text-center text-xl">Não sei</div>
                                    <div class=" text-center text-xl ">Concordo</div>
                                    <div class=" text-center text-xl ">Concordo Totalmente</div>
                                </div>

                            </table>
                        </div>
                        <div class="flex justify-end py-5">
                            <button
                                class="bg-[var(--honey-flower)] w-40 py-2  rounded-md text-gray-50 hover:bg-[var(--honey-flower)]">
                                Próxmio
                            </button>
                        </div>
                    </div>
                </div>


            </section>

        </div>
    </div>


    <!-- [Scripts Partial here] -->
</body>

</html>