<div style="Margin:0 auto;min-width:320px;max-width:500px;word-wrap:break-word;word-break:break-word;padding-top:40px;padding-bottom:40px;padding-right:50px;padding-left:50px">
  <img src="cid:logo_image" style="background-color:#5C2472;width:100px;padding-bottom:5px;padding-top:5px;padding-left:5px;padding-right:5px;display:block;margin-left:auto;margin-right:auto">
  <p style="font-size:14px;line-height:1.8;margin:0;color:black"> Olá {{ user.name }}, </p><br/>
  <p style="font-size:14px;line-height:1.8;margin:0;color:black"> Recebemos uma solicitação para mudança de senha! </p>
  <p style="font-size:14px;line-height:1.8;margin:0;color:black"> Se você não requisitou essa mudança, por favor ignore este e-mail. </p>
  <p style="font-size:14px;line-height:1.8;margin:0;color:black"> Clique no <a href="{{ reset_link }}">link</a> a seguir para mudar a sua senha. </p><br/>
  <p style="font-size:14px;line-height:1.8;margin:0;color:black"> O link expirará em 15 minutos. </p><br/>
  <p style="font-size:14px;line-height:1.8;margin:0;color:black">
    <span style="color:#000000!important;text-decoration:none!important">
      <strong> - Equipe SQHG </strong>
    </span>
  </p>
</div>
