{% extends 'base.html' %}

{% block js_import %}
<script src="{% static 'auth/js/reset_password.js' %}"></script>
{% endblock js_import %}

{% block layout %}
  <div class="flex flex-col h-screen justify-center items-center bg-[var(--honey-flower)]">
    <div class="flex flex-col items-center">
      <div class="w-96 mb-5 flex justify-center">
        <img src="{% static 'assets/prati-logo.png' %}" alt="Prati Logo">
      </div>

      {% if email %}
        <form action="{{ url_for('reset_password') }}" method="POST" id="resetForm" data-email="{{ email }}">
          <div class="w-96 p-1 mx-auto rounded-x1 my-1 grid gap-2">
            <div class="w-full">
              <input class="w-full placeholder-white text-white bg-[var(--light-violet)] px-2 py-1 rounded-lg focus:outline-none"
                     id="password" name="password" type="password" placeholder="Nova senha">
            </div>

            <div class="w-full">
              <input  class="w-full placeholder-white text-white bg-[var(--light-violet)] px-2 py-1 rounded-lg focus:outline-none"
                     id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirmar senha">
            </div>

            <div class="w-full flex justify-center">
              <button class="w-full bg-[var(--vivid-violet)] px-2 py-1 text-white rounded-lg items-center"
                      type="submit" data-href="{{ url_for('login_page') }}?admin=True" id="submitButton">
                <span>Redefinir Senha</span>
              </button>
            </div>
          </div>
        </form>
      {% else %}
        <div class="w-96 p-1 mx-auto rounded-x1 my-1">
          <div class="w-full">
            <span class="text-white">
              O link que você está tentando acessar já expirou...
            </span>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
